:root {
  --bg: #ffffff;
  --text: #000000;
  --card: #f5f5f5;
  --primary: #007bff;
}

body.dark {
  --bg: #121212;
  --text: #e0e0e0;
  --card: #1e1e1e;
  --primary: #90caf9;
}

body {
  background-color: var(--bg);
  color: var(--text);
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0 20px;
  transition: all 0.3s;
}

nav {
  display: flex;
  justify-content: space-between;
  background-color: var(--primary);
  color: #fff;
  padding: 10px;
  flex-wrap: wrap;
}

nav h1 {
  margin: 0;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 15px;
  padding: 0;
  margin: 0;
}

nav ul li a {
  color: white;
  text-decoration: none;
}

nav button {
  background: white;
  color: var(--primary);
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

section {
  background: var(--card);
  padding: 20px;
  margin-top: 20px;
  border-radius: 8px;
}

input, select, button {
  padding: 8px;
  margin-top: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

#productContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  margin-top: 20px;
}

.product-card {
  background: var(--bg);
  border: 1px solid #ccc;
  border-radius: 8px;
  width: 200px;
  padding: 10px;
  text-align: center;
}

.product-card img {
  width: 100px;
  height: 100px;
  object-fit: cover;
}

footer {
  text-align: center;
  color:#f5f5f5;
  background-color: #007bff;
  padding: 20px 0;
}

